mat-form-field, textarea{
    height: 130px;
    width: 130px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    position: center;
    }
    
mat-card{
    width: 200px; 
    height: auto; 
    margin: 16px; 
    box-sizing: border-box;
}
