.carrusel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }
  
  .slide {
    flex: 0 0 auto;
    width: 100%;
    scroll-snap-align: start;
  }
  
  button {
    /* Tus estilos para los botones aquí */
  }
  