main{
    width: 80%;
    margin: 1rem auto;
    
}
body{
  height: 800px;
  background-image: url("https://i.pinimg.com/originals/43/51/3d/43513de8592c2944006adad0045fadcd.gif");
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center center;
}
.purple-background {
  background-color: purple;
  /* Otras propiedades de estilo según sea necesario */
}
/* styles.css o tree.component.css */
.small-tree {
  font-size: 14px; /* Reduce el tamaño de la fuente */
  max-height: 0;   /* Oculta el árbol al establecer su altura máxima en 0 */
  overflow: hidden; /* Oculta el contenido que excede el tamaño máximo */
  transition: max-height 0.3s ease-in-out; /* Agrega una transición suave para la animación */
}

.small-tree.active {
  max-height: 200px; /* Muestra el árbol al establecer una altura máxima adecuada */
}

