<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<toolbar-overview-example></toolbar-overview-example>
<div>
    <app-carrusel></app-carrusel>
</div>
<section>
    <img src="https://compusales.com.mx/31898-tm_thickbox_default/acer-aspire-5-a515-54-35e8-portatil-396-cm-156-full-hd-intel-core-i3-de-10ma-gen.jpg">
    <img src="https://compusales.com.mx/30381-tm_thickbox_default/dell-vostro-3405-ddr4-sdram-portatil-356-cm-14-1366-x-768-pixeles-amd-ryzen-5-8-.jpg">
    <img src="https://compusales.com.mx/31991-tm_thickbox_default/lenovo-ideapad-d330-hibrido-2-en-1-256-cm-101-pantalla-tactil-full-hd-intel-cele.jpg">
    <img src="https://compusales.com.mx/31515-tm_thickbox_default/dell-latitude-5420-portatil-356-cm-14-hd-intel-core-i5-de-11ma-generacion-8-gb-d.jpg">
    <img src="https://compusales.com.mx/16128-tm_thickbox_default/macbookapplemnyl2eaci5dc13ghz8g512gbled12oro.jpg">
</section>
</body>
<app-footer> </app-footer>
</html>






