main{
    width: 80%;
    margin: 1rem auto;
    
}
body{
heigh:665px;
  background-image: url("https://i.pinimg.com/originals/43/51/3d/43513de8592c2944006adad0045fadcd.gif");
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center center;
}